<section class="main-container" >
   
  {{#if message}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{message}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
 
       <form action="/admin/add-offers" method="post" id="form"  class="  p-2  width border border-5 border-secondary">
        <h2 class="mb-3">Add Offers</h2>
        <div class="mb-3">
    <label for="exampleInputFirstname" class="form-label">Category name</label>
    <input type="text" class="form-control" id="exampleInputFirstname"  name="category" >
     <div class="error text-danger"></div>
  </div>
         <div class="mb-3">
    <label for="exampleInputFirstname1" class="form-label">Discount</label>
    <input type="text" class="form-control" id="exampleInputFirstname1"  name="discount" >
     <div class="error text-danger"></div>
  </div>
         <div class="mb-3">
    <label for="exampleInputFirstname2" class="form-label">Expiry</label>
    <input type="datetime-local" class="form-control" id="exampleInputFirstname2"  name="expiry" >
     <div class="error text-danger"></div>
  </div>

  
  
  <button type="submit" class="btn btn-primary">ADD</button> <span>or <a href="/admin/offers">return to offers</a></span>
</form>
    </div>
 </section>

 <script>


const form = document.getElementById('form');
const Category = document.getElementById('exampleInputFirstname');
 const Discount = document.getElementById('exampleInputFirstname1');
 const Expiry = document.getElementById('exampleInputFirstname2');

 form.addEventListener('submit',e=>{
    e.preventDefault();
    validateInputs();
    });

const setError = (element,message)=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = message;
inputControl.classList.add('error');
inputControl.classList.remove('success');
}

const setSuccess = element=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = '';
inputControl.classList.add('success');
inputControl.classList.remove('error')
}

const validateInputs=()=>{
const categoryValue = Category.value.trim();
const discountValue = Discount.value.trim();
const expiryValue = Expiry.value.trim();


if(categoryValue === ''){
setError(Category, 'Category is required');
}else{
setSuccess(Category)
}

if(discountValue === ''){
setError(Discount, 'Discount is required');
}else{
setSuccess(Discount)
}

if(expiryValue === ''){
setError(Expiry, 'Expiry is required');
}else{
setSuccess(Expiry)
}

const allInputsValid = document.querySelectorAll('.success').length === 3; // Adjust the count based on the number of input fields
 if (allInputsValid) {
   form.submit(); // Manually submit the form
 }

}



 </script>