<div class="grid-container">
<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
        <span class="material-symbols-outlined">menu</span>
    </div>
    <div class="header-left"> <span class="material-symbols-outlined">search</span></div>
    <div class="header-right"> <span class="material-symbols-outlined">notifications</span> <span class="material-symbols-outlined">email</span> <span class="dropdown"><i class="material-symbols-outlined   bi bi-person-circle " data-bs-toggle="dropdown" aria-expanded="false"></i>
     <ul class="dropdown-menu dropdown-menu-dark">
        <li><form action="/admin/logout"  method="get">
        
    <button class="btn btn-dark dropdown-item" type="submit">Logout</button>
    </form></li>
     </ul>
    </span></div>
</header>
