 <aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span class="material-symbols-outlined">inventory</span>BetterBuy Admin
        </div>
        <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
    </div>
    <ul class="sidebar-list">
       <a href="/admin/home" > <li class="sidebar-list-item"><span class="material-symbols-outlined">dashboard</span>Dashboard</li></a>
        <a href="/admin/user" ><li class="sidebar-list-item"><span class="material-symbols-outlined">add_shopping_cart</span>Users</li></a> 
         <a href="/admin/category" ><li class="sidebar-list-item"><span class="material-symbols-outlined">fact_check</span>Category</li></a>  
         <a href="/admin/product" ><li class="sidebar-list-item"><span class="material-symbols-outlined">inventory_2</span>Products</li></a> 
          <a href="/admin/inventory" ><li class="sidebar-list-item"><span class="material-symbols-outlined">production_quantity_limits</span>Inventory</li></a>   
           <a href="/admin/orders"><li class="sidebar-list-item"><span class="material-symbols-outlined">shopping_cart</span>Orders</li></a> 
              <a href="/admin/coupons"><li class="sidebar-list-item"><span class="material-symbols-outlined">payments</span>Coupons</li></a> 
            
             <a href="/admin/reports"><li class="sidebar-list-item"><span class="material-symbols-outlined">poll</span>Reports</li></a> 
               <a href="/admin/offers"><li class="sidebar-list-item"><span class="material-symbols-outlined">poll</span>Offers</li></a>
                 <a href="/admin/location"><li class="sidebar-list-item"><span class="material-symbols-outlined">location_on</span>Location</li></a>
                  <a href="/admin/banner"><li class="sidebar-list-item"><span class="material-symbols-outlined">ad_group</span>Banner</li></a>    
    </ul>
</aside>   <span class="material-symbols-outlined">

</span>