

<nav class="navbar navbar-expand-lg sticky-top" style="background-color:green">
  <div class="container">
    <a class="navbar-brand" href="#"><h3 style="">BetterBuy</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""><i class="bi bi-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/grocery">Groceries</a>
        </li>
        <!--<li class="nav-item ">
          <a class="nav-link " href="#">
           Blog
          </a>
          <!--<ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link " href="/about">About</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="/contact">Contact</a>
        </li>
      </ul>
     <form class="d-flex" role="search"  id="searchForm" >
        <div class="search-container">
        <input class=" px-2 search" type="search" placeholder="Search" aria-label="Search" id="searchInput">
         <div class="search-results" id="searchResults"></div>
        </div>
        <button class="btn1 me-2 px-3" type="submit">Search</button>
        </form>  
        <span class="me-3"><a href="/cart" class="text-decoration-none"><i class="bi bi-bag-check"></i></a></span>
        <span class="dropdown"><i class="bi bi-person-circle " data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-dark">
          {{#if log}}
    <li><a class="dropdown-item " href="/general">Account settings</a></li>
    <li><a class="dropdown-item" href="/order-details">Check orders</a></li>
    <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
    <li><hr class="dropdown-divider"></li>
    
    <li><form action="/logout"  method="get">
      
    <button class="btn btn-dark dropdown-item" type="submit">Logout</button>
    </form></li>
    {{else}}
    <li><a class="dropdown-item " href="/">Login</a></li>
     {{/if}}
  </ul>
  </span>
  
    </div>
  </div>
</nav>

<script>


    const searchInput = document.getElementById('searchInput');
    const searchResultsContainer = document.getElementById('searchResults');
    const searchForm = document.getElementById('searchForm');

    searchInput.addEventListener('input', function () {
        const searchItem = searchInput.value.trim();

        if (searchItem === '') {
            searchResultsContainer.innerHTML = '';
            searchResultsContainer.style.display = 'none';
        }
    });



    searchForm.addEventListener('submit', async function (event) {
        event.preventDefault(); // Prevent the default form submission behavior

        const searchItem = searchInput.value.trim();

        searchResultsContainer.innerHTML = '';

        const response = await fetch(`/home?item=${searchItem}`, {
            method: 'GET'
        });

        if (response.ok) {
            const data = await response.json();
            const products = data.product;

            if (products.length === 0) {
                searchResultsContainer.innerHTML = '<p>No results found</p>';
            } else {
                products.forEach(product => {
                    const productContainer = document.createElement('div');
                    productContainer.classList.add('product-container');

                    const productName = document.createElement('p');
                    productName.textContent = product.name;
                    // productName.classList.add('product-name');

                    const productImage = document.createElement('img');
                    productImage.src = `/images/${product.images[0]}`;
                     productImage.alt = 'Product Image';
                    productImage.classList.add('product-image');

                    /*if (Array.isArray(product.images) && product.images.length > 0) {
                        
                    }*/

                   

                    productContainer.addEventListener('click', function () {
                      redirectToSingleProductPage(product._id);
                    });


    
                    productContainer.appendChild(productName);
                    productContainer.appendChild(productImage);

                    searchResultsContainer.appendChild(productContainer);
                });
                 searchResultsContainer.style.display = 'block';
            }
        }
      
    });

 function redirectToSingleProductPage(productId) {
       
        window.location.href = `/product?id=${productId}`;
 }

///////////////////////////////////////////////////////////////////////////////


</script>