<section id="about" style="background-color: lightgreen; min-height: 100vh;   font-family:roboto;">
    <div class="about-1">
        <h1>ABOUT US</h1>
        <div class="line mb-2 " style="margin: 0 35%;"></div>
        <p class="text-dark">
Welcome to BetterBuy, where the freshest bounty of nature meets the convenience of online shopping. We take pride in providing you with a virtual marketplace that brings the farm to your fingertips. At BetterBuy, we are passionate about offering a wide array of handpicked, top-quality vegetables, fruits, and groceries to enhance your culinary experience. Our commitment is to deliver freshness and goodness straight to your doorstep, ensuring that every item in your cart reflects the vibrant richness of nature. Whether you're a seasoned chef or someone who simply appreciates wholesome goodness, BetterBuy is your go-to destination for premium produce and pantry essentials. Join us on this flavorful journey, and let's redefine your grocery shopping experience together.</p>
    </div>
    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            
                                <i class="fa fa-book"></i>
                                <h3>MISSION</h3>
                                <hr>
                                <p>
Our mission is to revolutionize the grocery shopping experience by providing a diverse range of high-quality, fresh produce with unmatched convenience. Committed to promoting healthier lifestyles, we aim to connect individuals with the nourishing goodness of nature, ensuring that every item in their basket reflects our dedication to excellence. Through sustainability, innovation, and a customer-centric approach, we strive to be the go-to destination for those seeking not just groceries but a vibrant and wholesome culinary journey.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            
                                <i class="fa fa-globe"></i>
                                <h3>VISION</h3>
                                <hr>
                                <p>
Fostering a future where every household enjoys easy access to farm-fresh produce, promoting a sustainable and wholesome lifestyle. Guided by innovation, we envision transforming the way people connect with and savor the goodness of nature, creating a lasting impact on health and well-being. Together, we aspire to cultivate a world where the journey from farm to table is not just a transaction but a shared celebration of freshness and vitality.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-item text-center">
                            
                                <i class="fa fa-pencil"></i>
                                <h3>ACHEIVEMENTS</h3>
                                <hr>
                                <p>
Proudly celebrated as a trusted source for premium produce, our achievements speak volumes. From consistently delivering farm-fresh excellence to earning the loyalty of thousands of satisfied customers, we have become a cornerstone in redefining grocery shopping. Our commitment to quality has garnered accolades, and our dedication to customer satisfaction has resulted in numerous positive testimonials. As we reflect on our journey, these achievements inspire us to continue raising the bar and setting new standards in the world of online groceries.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>