
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" style="background-color: aliceblue;" style="background-color: lightgreen;">
   
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="images/" width="180" alt="">
                </a>
                <h3 class="text-center mb-3">New Password</h3>
                  {{#if message}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="">
                      <strong> {{message}}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {{/if}}
                <form action="" method="post" id="form">
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                     <input type="hidden" value={{user_id}} name="user_id">
                      <div class="error text-danger"></div>
                     </div>
                    <div class="mb-4">
                    <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="password1">
                     <input type="hidden" value={{token}} name="token">
                     <div class="error text-danger"></div>
                     </div>
                  <button type="submit" class=" btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Reset</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-5 mb-0 ">Go back to store?</p>
                    <a class="text-primary fw-bold ms-2" href="/">login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  const form1 = document.getElementById('form');
     const Password1 = document.getElementById('exampleInputPassword1');
          const Password2 = document.getElementById('exampleInputPassword2');
   form1.addEventListener('submit',e=>{
e.preventDefault();
validateInputs();
});
  
const setError = (element,message)=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = message;
inputControl.classList.add('error');
inputControl.classList.remove('success');
}

const setSuccess = element=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = '';
inputControl.classList.add('success');
inputControl.classList.remove('error')
}

const validateInputs=()=>{

   const passwprdValue = Password1.value.trim();
    const passwprdValue1 = Password2.value.trim();

if(passwprdValue === ''){
setError(Password1,'Password is required');
}else if(passwprdValue.length < 6){
setError(Password1,'password must be at least 6 character.')
}else{
setSuccess(Password1)
}

if(passwprdValue1 === ''){
setError(Password2,'Password is required');
}else if(passwprdValue1.length < 6){
setError(Password2,'password must be at least 6 character.')
}else{
setSuccess(Password2)
}
 const allInputsValid = document.querySelectorAll('.success').length === 2; // Adjust the count based on the number of input fields
 if (allInputsValid) {
   form1.submit(); // Manually submit the form
 }
};

  </script>