<!--<section>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="/general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/password-settings">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-info">Info</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-social-links">Social links</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">Connections</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Notifications</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                             <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="text-right mt-3">
            <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
</section>-->
<section  style="min-height: 100vh; background-color:lightgreen">
       <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
         <div class="line mb-2">
          </div>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="/general">General</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/password-settings">Change password</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/address">Address</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-social-links">Social links</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">Connections</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Notifications</a>
                            <hr>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                  
 {{#if message}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{message}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
                        <!--<div class="tab-pane fade" id="account-change-password">-->
                            <div class="card-body pb-2" style="background-color:#fff5ee;">
                                <form action="/update-password" method="post" id="form">
                                <div class="form-group mb-3">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control" name="password1" id="password1">
                                    <div class="error text-danger"></div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control" name="password" id="password">
                                    <div class="error text-danger"></div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" class="form-control" name="password2" id="password2">
                                    <div class="error text-danger"></div>
                                </div>
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                                        <!--<button type="button" class="btn btn-default">Cancel</button>-->
                                </div>
                                </form>
                            </div>
                       <!-- </div>-->

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<script>
 const form = document.getElementById('form');
     const Password1 = document.getElementById('password1');
   const Password = document.getElementById('password');
   const Password2 = document.getElementById('password2');

form.addEventListener('submit',e=>{
e.preventDefault();
validateInputs();
});

const setError = (element,message)=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = message;
inputControl.classList.add('error');
inputControl.classList.remove('success');
}

const setSuccess = element=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = '';
inputControl.classList.add('success');
inputControl.classList.remove('error')
}

const validateInputs=()=>{
 const password1Value = Password1.value.trim();
   const passwordValue = Password.value.trim();
    const password2Value = password2.value.trim();


if(password1Value === ''){
setError(Password1,'Password is required');
}else if(password1Value.length < 6){
setError(Password1,'password must be at least 6 character.')
}else{
setSuccess(Password1)
}

if(passwordValue === ''){
setError(Password,'Password is required');
}else if(passwordValue.length < 6){
setError(Password,'password must be at least 6 character.')
}else{
setSuccess(Password)
}

if(password2Value === ''){
setError(Password2,'Password is required');
}else if(password2Value.length < 6){
setError(Password2,'password must be at least 6 character.')
}else{
setSuccess(Password2)
}

 const allInputsValid = document.querySelectorAll('.success').length >= 2; // Adjust the count based on the number of input fields
 if (allInputsValid) {
   form.submit(); // Manually submit the form
 }

}


</script>